<div class="title">{{title}}</div>
<div class="topcolor"></div>
<div class="top1color"></div>
<div class="top2color"></div>
<div class="centre">{{address}}</div>
<hr>
<div class="padding">
  <font size=5 color=red >{{head1}}</font ><br /><br />{{line1}}<br />{{line2}}<br />{{line3}} <br />{{line4}}<br /><br /> 
    <font size= 5 color=red>
      {{head2}}
      </font>
      <p style= text-align:center ><b>{{subhead1}}</b></p><br />
      {{line5}}<br />
      {{line6}}<br />
      {{line7}}<br />
      {{line8}}<br />
      {{line9}}<br />
      {{line10}}<br />
      {{line11}}<br />
      <br />
  
      <p style=text-align:center>
      <b>{{subhead2}}</b>
      </p><br />
      {{line12}} <br />
      {{line13}}<br />
      {{line14}}<br />
      {{line15}} <br />
      {{line16}}<br />
  <br />
  <br />
  
      <font size=5 color=red>
      {{head3}}
      </font><br />
      <br />
  <b>{{subhead3}}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font style="text-align: right">{{date1}}</font><br />
     {{subhead31}}<br /><br />
      <ul><li>{{line17}}<br />
        {{line18}}<br />
        {{line19}} <br />
        {{line20}}
          </li>
  
         <li>{{line21}}<br />
          {{line22}} <br />
          {{line23}}<br />
          {{line24}}<br />
          {{line25}}<br />
          {{line26}}</li>
        
  
        <li>{{line27}}<br />
          {{line28}} <br />
          {{line29}} <br />
          {{line30}} </li>
     </ul >
</div>
<div class="paddingl">
  <font size=5 color=red>{{head4}}</font><br /><br />
  <b>{{subhead4}}</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{date2}} <br />
    <b>
         {{linea1}}
              </b><br />
             {{linea2}} <br />
  <br />

              <ul><li>{{linea3}}</li>
              <li>{{linea4}}<br />
                {{linea5}} </li>
             <li>{{linea6}} <br />
              {{linea7}}</li>
   <li>{{linea7}}</li></ul><br />
  <br />

  <font size=5 color=red>{{head5}}<br /></font><br />
  <b>
  {{subdead5}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  </b>  {{date3}}  <br />
   <b>{{subhead51}}</b> <br />
   {{subhead52}} <br />
  <br />
   {{linea9}}<br />
   {{linea10}}<br />
  {{linea11}}<br />
  <br />
  <ul><li> {{linea12}}<br />
    {{linea13}} 
    {{linea14}} <br />
    {{linea15}}<br />
    {{linea16}}</li>
  <li>{{linea17}}<br />
    {{linea18}}<br />
    {{linea19}}<br />
    {{linea20}}<br />
    {{linea21}}<br />
    {{linea22}}</li>
  <li>{{linea23}}<br />
    {{linea24}}<br />
    {{linea25}}<br />
    {{linea26}} <br />
    {{linea27}}<br />
    {{linea28}} <br />
    {{linea29}} <br />
    {{linea30}}<br />
    {{linea31}}</li></ul>
              <br />
  <b>
      {{subhead6}}
  </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{date4}} <br />
{{linea32}}
</div>